body {
    background: rgb(248, 248, 248);
    max-width: 960px;
    color: #232323;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: block;
    font-size: 2rem;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0.5em 1em;
}

.container {
    display: flex;
}

a {
    color: #000;
    text-decoration: none; /* no underline */
  }

.name {
    font-size: 3rem;
    font-weight: 100;
}

.links {
    font-size: 35px;
    float: right;
 }

 a {
    padding-right: 20px;
    /* margin-left: 0.25em; */
 }

a:active {
    border-bottom: 1px solid #555;
    padding-right: 20px;
}

#duck {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

main {
    margin-top: 200px;
}

/* section {
    display: block;
} */

#dev {
    width:35rem;
    margin-left: 85px;
    margin-top:25px;
}

#I {
    width: 100px;
}

#want {
    width: 200px;
}

#to {
    width: 170px;
}

#be {
    width: 200px;
}

#a {
    width: 115px;
}

#qa {
    width: 600px;
    margin-left: 400px;
}

#excl {
    width: 30px;
    margin-left: 400px;
}

#qa {
    margin-top: 300px;
    width: 180px;
}

footer {
    padding: 10px;
    /* border-width: 20px;
    border-style:solid;
    border-color:  rgba(120, 120, 120, .3); */
    float: right;
    /* height: 200px; */
    margin-top: 735px;
    margin-left: 500px;
}

.icon {
    width: 70px;
    margin-right: 10px;
    margin-bottom: 15px;
}

#github {
    width: 85px;
    
}

#background {
    background-image: url("./images/heart.png");
    background-repeat: no-repeat;
    background-position: top 150px left 900px;
}

/* #heart {
    width: 1200px;
    margin-left: 500px;
} */

#bug-game {
    font-size: 45px;
}

/* #portfolio-main {
    margin-top: 200px;
}

#portfolio-h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */

.texts {
    line-height: 1.8;
}

